body{
  background:linear-gradient(rgba(0, 0, 0, 0.808),rgba(0, 0, 0, 0.808)),url(art/ale.jpg);
  background-size: cover;
  animation: body 10s ease infinite;  
  justify-items: center;
  align-items: center;
  }

  .audio{
    justify-items: center;
  }

  img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    justify-items: center;
  }

  .img{
    justify-items: center;
  }
  header{
    text-align: right
  }

h1{
 background-color: red;
  color:transparent;
  background-clip: text;
  text-align:center;
  animation: h1 0.5s linear infinite;
}

@keyframes h1 {
  0%{background: linear-gradient(45deg,black,red,purple,blue,green,yellow);
    color:transparent;
    background-clip: text;}
  30%{background: linear-gradient(45deg,green,purple,white,blue,red,yellow);
    color:transparent;
    background-clip: text;}
  50%{background: linear-gradient(45deg,purple,blue,green,yellow);
    color:transparent;
    background-clip: text;}
  70%{background: linear-gradient(45deg,blue,green,yellow);
    color:transparent;
    background-clip: text;}
  100%{background: linear-gradient(45deg,black,green,yellow);
    color:transparent;
    background-clip: text;}
}

p{
  color: white;
}

button{
  border-block-end-color: red;
  background:linear-gradient(45deg,red,blue,red,green,orange);
  color: transparent;
  background-clip: text;
  border-radius: 50px;
  background-size: 150%;
  font-size: 20pt;
  font-weight: 900;
  animation: btn 2s linear infinite,buttonbackground 2s  linear infinite;
}

@keyframes btn {
  0%{box-shadow: 0 0 50px #00f;}
  50%{box-shadow: 0 0 25px #0dd; }
  100%{box-shadow: 0 0 50px red;}
  
}

@keyframes buttonbackground {
  0%{background-position:0% 50%;}
  50%{background-position: 100% 50% }
  100%{background-position: 0% 50%}
}

nav{
  text-align: center;
  justify-items: center;
}
ul{
  list-style-type: none;
  display: flex;
  gap: 1rem;
}


@keyframes body {
  0%{background-position:0% 50%;}
  50%{background-position: 100% 50% }
  100%{background-position: 0% 50%}
}

p{
  text-align: center;
}












  

